*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e96949;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-page-content {
    background-color: #f35932;
    padding: 10px 20px;
}

h1 {
    font-size: 40px;
    color: #f8f8f8;
    margin-bottom: 20px;
}

ul,ol{
    list-style: none;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

.home-page-content p {
    font-size: 20px;
    font-weight: 500;
    color: #181818;
}

.home-page-content a {
    color: #000080;
}

.recipe-page-content {
    padding: 10px;
}

.recipe-page-content .image-container{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.recipe-page-content .content {
    background-color: #f37746;
    padding: 20px;
    margin-top: 20px;
}

.recipe-page-content .content div {
    background-color: #f16745;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.recipe-page-content .content div p {
    font-size: 20px;
}

.recipe-page-content a {
    font-size: 24px;
    font-weight: 600;
    color: #000080;
}